doctype html
html
  head
    title Rennaissance Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
          div#logo 
            img(src="/static/img/logo.png", alt="Website logo")
            | RDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
             
    block content
    footer#footer
        p Copyright © 2023 rennaisancedanceacademy.com  | All Rights Reserved